Would you like to play a game?

<form action="/play" method="post">
  Player 1: <input type="text" name="player1" id="Player 1">
  <br></br>
  Player 2: <input type="text" name="player2" id="Player 2">
  <br></br>
  <input type="submit" id='Start game!' value='Play!'>
</form>